
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: black;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

/*Responsive movil*/

@media screen and (min-width: 320px) and (max-width: 480px) {

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  header {
      background-image: url(/media/fondo-header\ 3.jpg)no-repeat;
      background-size: cover;
      padding: 32px;
  }

  header .nombre-cafeteria {
      font-family: 'Bebas Neue', cursive;
      font-size: 1.35em;
      color: whitesmoke;
      position: absolute;
      left: 100px;
      top: 30px;
      height: 80px;
  }

  a .logo-cat {
      position: relative;
      font-size: 0.70em;
      top: 15px;
      right: 15px;
  }

  .nnav {
      position: relative;
      top: 50px;
      width: 1px;
      display: flex;
      flex-direction: row;
  }

  .text-white {
    text-decoration: none;
    position: relative;
    bottom: 15px;
  }

  .mx-5 {
    display: none;
  }
}

/*Responsive tablet*/

@media screen and (min-width: 481px) and (max-width: 768px) {

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  header {
      background-image: url(/media/fondo-header\ 3.jpg)no-repeat;
      background-size: cover;
      padding: 40px;
  }

  header .nombre-cafeteria {
      font-family: 'Bebas Neue', cursive;
      font-size: 2.5em;
      position: absolute;
      left: 190px;
      top: 47px;
      color: black;
  }

  a .logo-cat {
      position: relative;
      font-size: 1.20em;
      top: 20px;
  }

  .nnav {
      position: relative;
      top: 50px;
      width: 1px;
  }

  .text-white {
    text-decoration: none;
  }

 .mx-5 {
  display: none;
 }
}

/*Responsive portatiles*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  header {
      background-image: url(/media/fondo-header\ 3.jpg)no-repeat;
      background-size: cover;
      padding: 75px;
  }

  header .nombre-cafeteria {
      font-family: 'Bebas Neue', cursive;
      font-size: 3.40em;
      position: relative;
      left: -125px;
      top: 15px;
      color: black;
  }

  a .logo-cat {
      position: relative;
      font-size: 1em;
      right: 10px;
  }

  .nnav {
      position: relative;
      top: 50px;
      width: 1px;
  }

  .text-white {
    text-decoration: none;
  }

  .nav-item {
    position: relative;
    left: 37px;
    font-size: 20px;
    top: 5px;
  }

  .mx-5 {
    display: none;
   }
}

/*Responsive PC*/

@media screen and (min-width: 1025px) and (max-width: 1200px) {

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  header {
      background-image: url(/media/fondo-header\ 3.jpg)no-repeat;
      background-size: cover;
      padding: 85px;
  }

  header .nombre-cafeteria {
      font-family: 'Bebas Neue', cursive;
      font-size: 3.40em;
      position: relative;
      left: -190px;
      top: 8px;
      color: black;
  }

  a .logo-cat {
      position: relative;
      font-size: 1em;
  }

  .nnav {
      position: relative;
      top: 50px;
      width: 1px;
  }

  .text-white {
    text-decoration: none;
  }

  .nav-item {
    position: relative;
    left: 37px;
    font-size: 20px;
    top: 5px;
  }

  .mx-5 {
    display: none;
   }
}

/*Responsive Tv*/

@media screen and (min-width: 1201px) and (max-width: 3000px) {

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  header {
      background-image: url(/media/fondo-header\ 3.jpg)no-repeat;
      background-size: cover;
      padding: 130px;
  }

  header .nombre-cafeteria {
      font-family: 'Bebas Neue', cursive;
      font-size: 5.40em;
      position: relative;
      left: -200px;
      top: 15px;
      color: black;
  }

  a .logo-cat {
      position: relative;
      font-size: 1em;
      right: 100px;
  }

  .nnav {
      position: relative;
      top: 50px;
      width: 1px;
  }

  .text-white {
    text-decoration: none;
  }

  .nav-item {
    position: relative;
    left: 37px;
    font-size: 30px;
    top: 5px;
  }

  .mx-5 {
    display: none;
   }
}